<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanshen.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yanshen.entity.SysLog">
        <id column="id" property="id" />
        <result column="req_data" property="reqData" />
        <result column="req_url" property="reqUrl" />
        <result column="req_user" property="reqUser" />
        <result column="req_name" property="reqName" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, req_data, req_url, req_user, req_name, create_time, create_user
    </sql>

</mapper>
